
.switch {
  position: relative;
  display: inline-block;
  width: 42px;
  height: 20px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/*------------------------------------------- Admin Custom Css -------------------------------------*/

/* Admin Dashboard*/

.col-sm-4{
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 20px;
}

.card1{
  text-align: center;
  border-radius: 10px;
  margin-bottom: 10px;
  background: grey;
  padding: 50px;
}
.card2{
  text-align: center;
  border-radius: 10px;
  margin-bottom: 10px;
  background: #f44336;
  padding: 50px;
}
.card3{
  text-align: center;
  border-radius: 10px;
  margin-bottom: 10px;
  background: #2196f3;
  padding: 50px;
}
.card4{
  text-align: center;
  border-radius: 10px;
  margin-bottom: 10px;
  background: #cddc39;
  padding: 50px;
}
.card5{
  text-align: center;
  border-radius: 10px;
  margin-bottom: 10px;
  background: #048094a6;
  padding: 50px;
}
.card6{
  text-align: center;
  border-radius: 10px;
  margin-bottom: 10px;
  background: #009688;
  padding: 50px;
}

/* Fabrics Module */

.sale_fabric_table{
  display:inline-table;
}

#today_recipt{
  margin-left:10px
}

.modal-header{
  border-bottom:none !important;
}

.modal-footer{
  border-top:none;
}

.invoice{
  padding:20px;
}

.invoice-heading{
  color:darkslategrey; 
  text-decoration:none; 
  text-align:center;
}

.cash-recipt-table{
  display: inline-table;
}

.table-fabric-inventory{
  table-layout: fixed;
}

/* Admin Login Page */

.login-box{
  margin-left: 400px !important;
  margin-top: -100px;
}

@media only screen and (max-width: 736px){
  .login-box{
    margin-left: 240px !important;
    margin-top: -20px;
  }

  .sale_fabric_table {
    display: block;
  }
}

@media only screen and (max-width: 414px) {
  .add__fabric{
    margin-left: 10px !important;
    margin-top:10px !important;
  }

  .bc{
    margin-left: 10px !important;
    margin-top: 10px !important;
  }

  .add_fabric_form{
    padding:10px !important;
  }

  .row_form{
    display: inline;
  }

  .row_form > .col{
    max-width: 80%;
  }

  .sale_fabric_table{
    display:block;
  }

  .total_products{
    float:left !important;
    margin-left: 10px;
  }

  .login-box{
    margin-left:0px !important;
  }

  .login-box > div{
    text-align: left;
  }

  .login-page{
    background-image: center;
  }

  .cash-recipt-table {
    display: block;
  }
}
